<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All user</title>
</head>
<style>
    table,
    td,
    tr,
    th {
        border: 1px solid black;
    }
</style>

<body>
    <table>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Username</th>
        </tr>
        <%for(user of users){%>
            <tr>
                <td>
                    <%=user.id%>
                </td>
                <td>
                    <%=user.email%>
                </td>
                <td>
                    <%=user.username%>
                </td>
                <form method="GET" action="/user/<%=user.id%>/edit">
                    <td><button>edit username</button></td>
                </form>
                <form method="GET" action="/user/<%=user.id%>/delete">
                    <td><button>delete</button></td>
                </form>
            </tr>
            <%}%>
    </table>
</body>

</html>